@font-face {
  font-family: BG_title;
  src: url(fonts/Pacifico-Regular.ttf);
}

body {
    margin: 0;
    height: 100%;
    background-color: #f9ebc1;
}

#page_top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    height: 10%;
    background-color: #92cfb3;
    width: 100%;
    text-align: center;
    z-index: 1;
}

#page_mid {
    position: relative;
    height: 85%;
    background-color: #f9ebc1;
    top: 10%;
}

#page_bot {
    display: inline-flex;
    align-items: center;
    position: fixed;
    top: 95%;
    height: 5%;
    background-color: #7f7f7f;
    width: 100%;
}

#page_req {
    visibility: hidden;
}

button {
    max-height: 95%;
    display: inline-flex;
    position: absolute;
    align-items: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: center;
    border-radius: 5px 5px 5px 5px;
}

.top_title {
    font-family: BG_title;
    white-space: nowrap;
    cursor: default;
    font-size: 12pt;
}

.btndiv {
    margin: 3px;
}
